@charset "UTF-8";

	*{
		list-style-type: none;
		font-family: nsr;
		text-overflow: ellipsis;  
		white-space: nowrap
	}
	#coummuBoardMain{
		/* overflow:auto; */
		width:1300px;
		margin:50 auto;
		height: auto;
		overflow: hidden;
	}
	h1{ 
		padding:20 30px;
		color:#000; 
		font-weight: bold;
		margin-top:30px;
		}
	span{
		/* font-weight: bold; */
	}
	
	#coummuBoardMaincenter{
	 	margin-top:50px;
		width:1100px; 
	}
	
	/* new 게시판내용 */
	
	#coummuboardListTitle{
		width:1300px;
		margin: 0px;
		padding: 0px;
		background-color: gray;
	}
	
	#coummuboardListTitle div{
		float: left;
		background-color: gray;
		height: 40px;
		line-height: 40px;
	}
	
	
	
	#commuSubTitle>li:nth-child(4n+1){
		width:125px ;
		float: left;
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	#commuSubTitle>li:nth-child(4n+2){
		width:93px ;
		float: left;
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	#commuSubTitle>li:nth-child(4n+3){
		width:91px ;
		float: left;
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	#commuSubTitle>li:nth-child(4n+4){
		width:91px ;
		float: left;
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	
	
	
	#coummuBoardMainboardList {
		width: 1300px;
	}
	/* 카테고리 */
	#coummuBoardMainboardList div:nth-child(1){
		width: 130px;
		float: left;
		height: 50px;
		margin: 0px;
		padding: 0px;
		line-height: 50px;
		text-align: center;
		
	}
	#commusubList{
		width: 1170px;
		height: 50px;
		margin: 0px;
		padding: 0px;
		float: left;
		
	}
	
	/* 제목 */
	#commusubList>div:nth-child(1){
		width: 770px;
		float: left;
		height: 35px;
		margin: 0px;
		padding: 0px;
		line-height: 35px;
		text-align: left;
	}
	/* 조회수그런거 */
	#commusubList>div:nth-child(2){
		width: 400px;
		float: left;
		height: 38px;
		margin: 0px;
		padding: 0px;
		line-height: 38px;
	}
	/* 태그 */
	#tagList{
		width: 1200px;
		height: 12px;
		margin: 0px;
		padding: 0px;
		float: left;
		line-height: 12px;
		font-size: 12px;
		color: gray;
	}
	
	
	/* a링크 */
	#coummuBoardMainboardList>li:nth-child(2)>div:nth-child(1) a:active,#coummuBoardMainboardList>li:nth-child(2)>div:nth-child(1) a:link,#boardList>li:nth-child(2)>div:nth-child(1) a:visited {
    	color: #3f1785; 
   	}
   	#coummuBoardMainboardList>li:nth-child(2)>div:nth-child(1) a:hover{
   		text-decoration: none; 	
   		color: #571fb8 ; 
   	}
   	
   	/* a링크 닉넴 */
    #coummuBoardMainboardList>li:nth-child(2)>div:nth-child(2)	a:active,#coummuBoardMainboardList>li:nth-child(2)>div:nth-child(2) a:link,#boardList>li:nth-child(2)>div:nth-child(2) a:visited {
    	color: #000; 
   	}
   	#coummuBoardMainboardList>li:nth-child(2)>div:nth-child(2) a:hover{text-decoration: none; 	color: #571fb8 ; 
   	}
   	
	/* 검색어 */	
	select{ margin-right:5px; height:30px;
	}
	

	
	/* 페이지	  */
  	#coummuBoardpageNum{ padding-left:42%; margin-bottom:40px;width: 1280px; height: 20px;float: left;
  	margin-top: 30px;
	} 
	#coummuBoardpageNum a {color:#3f1785;
	}
	#coummuBoardpageNum a:hover{text-decoration:none;color:#705abf ;  font-weight: bold;
	}
	
