@charset "UTF-8";

	*{
		font-family: nsr;
		text-decoration: none;
		list-style-type: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		
	}
	
	#commuViewpreBtnnext div:nth-child(1) a:visited,
	#commuViewboard span a:visited,
	#commuViewboard li a:visited{ 
		color: #181b46; 
	}
	#commuViewpreBtnnext div:nth-child(2) a:visited{ 
		color: #181b46; 
	}
	a:link { 
		color:#181b46; 
	}
	a:active{
		color:#181b46;
	}
	a:hover{
		color:#181b46;
	}
	#commuViewMain{
		/* overflow:auto; */
		width:1300px;
		margin:80 auto;
		height: 1000px ;
	}
		
	/* 게시글 */
	 #commuViewcenter {
	 	width: 1300px;
	 }
	 #commuViewcenter div:nth-child(1){
	 	width: 1300px;
	 	text-align: right;
	 }
	 
	 #commuViewboard{
	 	width: 1300px;
	 	height: auto;
	 }
	 
	 #commuViewboard>ul>li {
	 	width: 1300px;
	 }
	 
	 #commuViewboard>ul>li:nth-child(2){
	 	font-size: 26px;
    	font-weight: bold;
    	color: #000;
    	margin: 5 0 ;

	 } 
	 #commuViewboard>ul>li:nth-child(3){
	 	font-size: 18px; 
	 	width: 650px;
	 	float: left;
	 
	 }
	 #commuViewboard>ul>li:nth-child(3) img{
	 	width: 30px;
	 	height: 30px;
	 
	 } 
	 #commuViewboard>ul>li:nth-child(4){
	 	width: 650px;
	 	float: left;
	 	text-align: right;
	 } 
	 
	 /* 작성글 내용 */
	 #commuViewboard>ul>li:nth-child(5){
	 	width: 1300px;
	 	height:auto; 
	 	float: left;
	 	margin: 15 0;
	 	border: 1px solid #d9d9d9; 
	 	padding: 15px;
	 } 
	 
	 /* 댓글 */
	 #commuViewboard>ul>li:nth-child(6){
	 	width: 1300px;
	 	float: left;
	 	margin: 10 0;
	 	color: gray;
    	font-size: 13px;
	 } 
	 #commuViewboard>ul>li:nth-child(7){
	 	width: 1300px;
	 	float: left;
	 	height: 20px;
	 	text-align: right;
	 	line-height: 20px;
	 	
	 }
	 
	 #commuViewpreBtnnext{
	 	width: 1300px;
	 	float: left;
	 	margin: 25 0 ;
	 	font-color: #181b46;
	 }
	 #commuViewpreBtnnext div:nth-child(1){
	 	width: 1300px;
	 	float: left;
	 	margin-bottom:5px; 
	 	color: #181b46;
	 } 
	 #commuViewpreBtnnext div:nth-child(2){
	 	width: 1300px;
	 	float: left;
	 	color: #181b46;
	 } 
	 
	 
/* 	 좋아요? 
	groupList-like btn*/
/*  	input[type=checkbox]{ 
 		display:none; 
 	}
    #likeLi input[type=checkbox] + label { 
    	display: inline-block; 
    	cursor: pointer; 
    	line-height: 22px; 
    	padding-left: 22px; 
    	background: url("<%=request.getContextPath()%>/img/groupImg/likeE.png") left/22px no-repeat; 
    }
	#likeLi input[type=checkbox]:checked + label { 
		background-image: url("<%=request.getContextPath()%>/img/groupImg/likeF.png"); 
	}
	#likeLi label{
		position: absolute; 
		height: 30px; 
		right: 20px; 
		top: 4px;
	} */
	 
	 
	
	/* 댓글 */
	
	#commuViewreply{
		width:1300px;
		margin: 100 auto;
		padding: 0px;
	
	}
	
 	h4{
 		color: rgb(0 128 64);
 		font-weight: bold;
 		text-align: left;
 	}
 	
 	#commuViewreply>form div:nth-child(1){
 		width:1300px;
 		float: left;
 		text-align: center;
 		margin: 0;
 		padding: 0;
 		
 	}
 	#commuViewreply>form div:nth-child(2){
 	
 		margin-top:16px;
 		width:1300px;
 		float: left;
 		text-align: right;
 	}
 	
 	#rep_content{
 		width:1300px;
 		padding-left: 10px;
 		float: center;
 	}
 	#commuViewreplyList{
 		background-color: #f8f8f8;
 		margin-top: 40;
 		width:1300px;
 		float: left;
 	}
 	
 	#commuViewreplyList h5{
 		display: inline;
 		padding-left:10px; 
 		
 	}
	
 	#commuViewreplyList>ul>li div:nth-child(1){
 		margin:0px;
 		margin-top:10px;
 		width:700px;
 		float: left;
 		
 	}
 	#commuViewreplyList>ul>li div:nth-child(2){
 		margin:0px;
 		margin-top:10px;
 		text-align: right;
 		float: left;
 		width:600px;
 	}
 
 	#commuViewreplyList>ul>li div:nth-child(3){
 		width:1300px;
 		float: left;
 		text-align: left;
 		border-bottom: 1px solid #d9d9d9;
 	}
 		
/* 	input[type="submit"]{
		text-align: right;
	}
 	 */
 	
	
	/* 버튼 스타일 클래스 모음 */

	a:active, a:visited {
    color:#3f1785;
    text-decoration: none;
	}
	 a:link {
	  color:#000;
	  text-decoration: none;
	 }

	.commBtn {
		width: 90px;
		color: rgb(0 128 255);
		/* border: 1px solid #122706; */
		border: 1px solid rgb(0 128 255);
	}
	.commBtn:hover {
		/* border: 1px solid #122706;
		background-color: #122706; */
		border: 1px solid rgb(0 128 255);
		background-color: rgb(0 128 255);
		
		font-weight: bold;
		color: #fff;
		font-weight: bold;
	}
	
	.replycommBtn {
		width: 55px;
		color: rgb(125 0 3);
		border: 1px solid rgb(125 0 3);
		font-size: 13px;
		padding: 4 0 ;
		line-height: 13px;
		
	}
	.replycommBtn:hover {
		border: 1px solid rgb(125 0 3);
		background-color: rgb(125 0 3);
		font-weight: bold;
		color: #fff;
		font-weight: bold;
	}
	.cancelBtn {
		border: 1px solid #ddd;
		color: #ddd;
		width: 90px;
		
	}
	.cancelBtn:hover {
		background-color: #fff;
		color: gray;
	}
		
	.confBtn {
		background: #122706;
		color: #fff;
		width: 90px;
	}
	.confBtn:hover {
		color: #fff;
		background: rgb(0 128 64);
}
	
	
	

	