@charset "UTF-8";
	*{
		font-family: nsr; 
		font-size: 20px;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	#commueWnEmain{overflow:auto;width:1300px;margin:50 auto;
		height: 1000px; 
	}
	
	#commueWnEmain>div>form select{ 
		height: 30px; 
		width: 150px; 
		margin-right: 5px;	
		/* border: none; */
		float: left;
	
	}
	
	#down_cate{
		display: none;
	}
	
	#Edit_down_cate{
		display: block;
	}
	
	#commueWnEmain>div>form input{
		margin: 15px 0px;
	}
	
	#subject{
		font-size: 25px; 
		border: none; 
		border-bottom: 1px solid gray; 
		margin-top: 10px;
	}
	
	#cnt{font-size: 25px; 
		float:right; 
		border: none; 
		border-bottom: 1px solid gray;
	  	margin-top: 10px;
	}
	
	#tag{ 
		border: none; 
		border-bottom: 1px solid gray;
		width: 1300px; 
	}
	
	#btn{ width: 1300px; text-align: center;
	}
	
	/* input[type="submit"]{
	color:#3f1785;
	}
 	*/
	/* 버튼 스타일 클래스 모음 */
	.commBtn {
		width: 90px;
		color: #3f1785;
		border: 1px solid #3f1785;
	}
	.commBtn:hover {
		border: 1px solid #3f1785;
		background-color: #3f1785;
		font-weight: bold;
		color: #fff;
		font-weight: bold;
	}
	.cancelBtn {
		border: 1px solid #ddd;
		color: #ddd;
		width: 90px;
	}
	.cancelBtn:hover {
		background-color: #fff;
		color: gray;
	}
		
	.confBtn {
		background: #3f1785;
		color: #fff;
		width: 90px;
	}
	.confBtn:hover {
	color: #fff;
	background: #B8B2F4;
	}
	
	
	#subject:active{border-bottom:2px solid #571fb8;}
	#subject:focus{border-bottom:2px solid #571fb8; outline: none;}
	#subject:hover{border-bottom:2px solid #571fb8;}
	
	#cnt:active{border-bottom:2px solid #571fb8;}
	#cnt:focus{border-bottom:2px solid #571fb8; outline: none;}
	#cnt:hover{border-bottom:2px solid #571fb8;}
	
	#tag:active{border-bottom:2px solid #571fb8;}
	#tag:focus{border-bottom:2px solid #571fb8; outline: none;}
	#tag:hover{border-bottom:2px solid #571fb8;}
	 