@charset "UTF-8";
	/*폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼폼*/
	/*searchFrm*/
	#eatViewPageSearchFrm{position:absolute; top:20px; right:0px; z-index:1;}
	#eatViewPageSearchFrm input[type=text]{float:left; height:48px; border-radius:5px;}
	#eatViewPageSearchFrm input[type=image]{display:block; height:48px;}
	/*topFrm*/
	#eatViewPageTopFrm{position:absolute; width:250px; top:20px; right:50%; z-index:1; transform:translateX(50%) }
	#eatViewPageTopFrm>ul{text-align:center; overflow:auto; border-radius:10px; background-color:#571FB8;}
	#eatViewPageTopFrm li{display:inline-block; background-color:#571FB8; margin:0 10px;}
	#eatViewPageTopFrm img{width:30px; margin:9px 0px;}
	#eatViewPageTopFrm li:first-child>a>img{ margin-left:10px;}
	#eatViewPageTopFrm li:last-child>a>img{ margin-right:10px;}
	/*showFrm*/
	#eatViewPageShowFrm{position:absolute; height:auto; top:100px; left:30px; z-index:1; width:500px; background-color:#fff; opacity:0.9; border-radius:10px;}
	#eatViewPageShowTopMenu{overflow:auto;}
	#eatViewPageShowTopMenu>li{float:left; width:100%; line-height:30px;}
	#eatViewPageShowTopMenu>li:first-child>img{height:22px; padding-right:10px;}	
	#eatViewPageShowTopMenu>li:first-child{width:70%; padding:10px 0px 10px 10px;}
	#eatViewPageShowTopMenu>li:first-child>span{color:#3f1785; font-weight:bold;}
	#eatViewPageShowTopMenu>li:nth-child(2){width:30%; padding:10px 15px 10px 0px; text-align:right; }
	#eatViewPageShowTopMenu>li:nth-child(3)>span{display:block; margin-bottom:5px; padding: 0 10px; font-size:22px; font-weight:bold;}	
	#eatViewPageShowTopMenu>li:nth-child(4){width:13%; padding-left:10px;}
	#eatViewPageShowTopMenu>li:nth-child(4)>img{width:40px;}
	#eatViewPageShowTopMenu>li:nth-child(5){width:47%}
	#eatViewPageShowTopMenu>li:nth-child(5)>div{font-size:13px; height: 20px; line-height: 20px;}
	#eatViewPageShowTopMenu>li:nth-child(5)>div:first-child{padding-left:30pxx}
	#eatViewPageShowTopMenu>li:nth-child(6){width:40%; height:40px; line-height:40px; text-align:right;}
	#eatViewPageShowTopMenu>li:nth-child(6)>span:nth-of-type(2){padding-right:15px;}
	#eatViewPageShowFrm>div:first-of-type{padding:10px; overflow:auto; height:400px;}
	#eatViewPageShowFrm>span{display: block;font-size: 16px;font-weight: bold;padding: 20px 0px 0px 20px; color: 3f1785;}
	#eatViewPageShowFrm>div:not(:first-of-type){overflow:auto; margin:10px 15px 15px 15px;}
	#eatViewPageShowFrm>div>img{height:20px; margin: 5px 30px 0px 0px; float:left;}
	#eatViewPageShowFrm>div>div{border:1px solid gray; border-radius:5px; float:left; text-align:center; font-size: 16px; line-height: 30px; height: 30px; width: 400px;}
	#eatViewPageShowFrm>div:nth-of-type(4){white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	#eatViewPageShowFrm>div:nth-of-type(5){text-align:center;}
	#eatViewPageShowFrm button{width:120px; height:40px; margin:20px 0px;}
	#eatViewPageShowFrm button:first-child{margin-right:80px;}
	/*팝업*/
	#EVPProfilePopup>div{float:left}
	#EVPProfilePopup{width:450px; height:310px; background:#fff; position:absolute; top:500px; left:500px; z-index:1; border-radius:10px; border:2px solid #571fb8; }
	#EVPProfilePopup>div:first-child{width:450px; height:20px; text-align:right;}
	#EVPProfilePopup>div:first-child>span{font-weight:bold; font-size:20px; margin-right:20px; display:inline-block; margin:2px 20px 0px 0px;}
	#EVPProfilePopup>div:nth-child(2){width:443px; height:50px; text-align:center;}
	#EVPProfilePopup>div:nth-child(2)>span{display:inline-block; font-size:28px; font-weight:bold; padding-left:20px}
	#EVPProfilePopup>div:nth-child(3){width:201px; height:150px;}
	#EVPProfilePopup>div:nth-child(3)>img{height: 120px; margin-top: 10px; margin-left: 60px; border-radius:10px;}
	#EVPProfilePopup ul>li:first-child{height:40px; }
	#EVPProfilePopup ul>li:first-child>span{font-size:26px; font-weight:700; display:inline-block; padding-left:20px;}
	#EVPProfilePopup ul>li:not(:first-child)>span{display:inline-block; padding:4px 0px 1px 20px;}
	#EVPProfilePopup>div:nth-child(4){width:241px; height:150px;  }
	#EVPProfilePopup>div:nth-child(5){width:443px; height:62px; }
	#EVPProfilePopup>div:nth-child(5)>button{float:left; display:block; margin:15px 10px 10px 88px; }
	
	
	