@charset "UTF-8";
/* 
	공통 지정 색상
	#3f1785 > #571fb8 > #B8B2F4
*/

/* 폰트 사이즈 스타일 클래스 모음 */
@font-face{
	font-family:"nsr";
	src:url("../font/NanumSquareRoundR.ttf") format("truetype");
}
@font-face{
	font-family:"nsrb";
	src:url("../font/NanumSquareRoundB.ttf") format("truetype");
}
@font-face{
	font-family:"nsreb";
	src:url("../font/NanumSquareRoundEB.ttf") format("truetype");
}
@font-face{
	font-family:"nsrl";
	src:url("../font/NanumSquareRoundL.ttf") format("truetype");
}



>>>>>>> e6d2017c5420e85770ea811b9dd681c223fcf12a
.lgFnt {
	font-size: 32px;	
}
.mdFnt {
	font-size: 22px;
}
.smlFnt {
	font-size: 13px;
}
/* 버튼 스타일 클래스 모음 */
.commBtn {
	width: 90px;
	color: #3f1785;
	border: 1px solid #3f1785;
}
.commBtn:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}
.cancelBtn {
	border: 1px solid #ddd;
	color: #ddd;
	width: 90px;
}
.cancelBtn:hover {
	background-color: #fff;
	color: gray;
}
	
.confBtn {
	background: #3f1785;
	color: #fff;
	width: 90px;
}
.confBtn:hover {
	color: #fff;
	background: #B8B2F4;
}


/*테이블 css  */
	.table {margin:0 auto;padding:0}
    .table tr{/*테이블 목록*/
    	border-bottom:1px solid rgb(227,227,227); 
    	text-align:center;
    	height:40px;
    }
	.table tr:first-child{/*첫번째 테이블 목차*/
		text-align:center;
		background-color:#3f1785;
		color:#fff;
	}
	.table tr:last-child{/*마지막 줄 tr 스타일*/
		border-bottom:2px solid #3f1785;
	}
	
