@charset "UTF-8";
/*월 이동 버튼*/
.loadDateFrm{
	width:1300px;
	padding:20px;
	margin-top:20px;
	background-color:rgb(243,245,248,0.5);
	border:1px solid #ddd;
	text-align:center;
}
.dayBtn {
   width: 60px;
   font-size:25px;
   border:none;
   background-color:rgb(0,0,0,0);
  }
.setMonth{
	width:120px;
	margin:0 20px 0 20px;
	font-size:20px;
	border:none;
	background-color:rgb(0,0,0,0);
}

/*메인 div class*/
.main{
	font-family:"nsr";
	margin:0 auto;
	width:1300px;
	min-height:980px;
	overflow-y:auto;
	overflow-x:hidden !important;
}
.backcolor{
	backgroun-color:#ddd;
}
/*제목 타이틀*/
.title{
	font-family:"nsreb";
	font-size:32px;
	margin-top:20px;
	margin-bottom:20px;
	color:rgb(102,102,102);
}
/*글자르기*/
.wordcut{
	whilte-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsys;
}
.wordcut{
	text-align:left;
}
.tablea {
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	margin-bottom:30px;
	padding:0;
	font-size:13px;
	width:100%;
	}
.tablea tr{/*테이블 목록*/
   border-bottom:1px solid rgb(227,227,227); 
   text-align:center;
   height:40px;
 } 
.tablea tr:first-child{/*첫번째 테이블 목차*/
	text-align:center;
	border-top :1px solid rgb(78,190,154);
	background-color:rgb(78,190,154,0.2);
	}
/*정산페이지 테이블*/


/*텍스트 필드 공통*/
.textcomm{
	width:400px;
	margin:10px;
	padding:3px;
	border:none;
	background-color:rgb(243,245,248,0.5);
	border-bottom:1px solid gray;
	font-family: inherit;/*폰트상속*/
}
/*검색 버튼 공통*/
.searchbtn{
	width:150px;/*너비설정*/
	padding:7px;/*여백설정 */
	font-family: inherit;/*폰트상속*/
	background:#fff;
	border: 1px solid rgb(102,102,102);
	color: rgb(102,102,102);
}
.searchbtn:hover{
	background-color: rgb(102,102,102);
	border: 1px solid rgb(102,102,102);
	color:#fff;
}
.puplebtn{
	width:150px;/*너비설정*/
	padding:7px;/*여백설정 */
	font-family: inherit;/*폰트상속*/
	background:rgb(102,102,102);
	border: 1px solid rgb(102,102,102);
	color: #fff;
}
.puplebtn:hover{
	background-color: #fff;
	border: 1px solid rgb(102,102,102);
	color:rgb(102,102,102);
}
.selectcomm{
	width:150px;/*너비설정*/
	padding:10px;/*여백설정*/
	font-family: inherit;/*폰트상속*/
}
.smallbtn{
	width:70px;
	padding:2px;
	background-color:rgb(78,190,154);
	color:#fff;
	border:1px solid rgb(78,190,154);
}
.smallbtn:hover{
	background-color:#fff;
	color:rgb(78,190,154);
}
.spuplebtn{
	width:70px;
	padding:2px;
	background-color:#fff;
	color:rgb(78,190,154);
	border:1px solid rgb(78,190,154);
}
.spuplebtn:hover{
	background-color:rgb(78,190,154);
	color:#fff;
}
	
.redBtn{
	background:#fff;
	border:1px solid rgb(183,15,23,0.9);
	color:rgb(183,15,23,0.9);
	width:70px;
	padding:2px;
}
.redBtn:hover{
	color:#fff;
	background:rgb(183,15,23,0.9);
}
/*모달부분*/
.modaldiv{
	padding:15px 5px 0 5px;
	border:1px solid #ddd;
	border-radius:10px;
	width:500px;
	height:380px;
	display:none;
	background-color:#fff;
}
.exit{
	border: 1px solid red;
    padding: 3px;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    color: red;
    font-size: 16px;
    line-height: 25px;
    margin: 0 auto;
}

/*페이징 버튼*/
.link{
	width: 270px;
	height:50px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:20px;
	text-align:center;
	list-style-type:none;
	text-align:center;
}
.link li{
	padding:10px;
	border: 1px solid #ddd;
	float:left;
}
.nowPg{
	background-color:#ddd;
}
/*검색 부분 공통 css*/
.searchDiv{
	background-color:rgb(243,245,248,0.5);
	border:1px solid #ddd;
	margin-bottom:20px;
}
.searchInfo{
	width:800px;
	text-align:center;
	margin:40px auto 20px auto;
}
.searchCate{
	width:650px;
	text-align:center;
	margin:0 auto 40px auto;
}
/*top수치 보여주는 곳 */
.statis{ /*ul style*/
	margin:0 auto;
	width:100%;
	overflow:auto;
	list-style-type:none;
	background-color:rgb(243,245,248,0.5);
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid #ddd;
	padding-top:10px;
	padding-bottom:10px;
	}
.statis>li{
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	width:20%;
	color:#024B40;
	font-family:"nsrb";
	font-size:16px;
	text-align: center;
	}
.statis>li:nth-child(1){
	margin-left:20%;
}
.statis>li:nth-child(2){/*중간선긋기*/
	border-left:3px solid #024B40;
	border-right:3px solid #024B40;
}
.statis div{
	font-family:"nsreb";
	font-size:50px;
}
.statisM{ /*ul style*/
	margin:0 auto 0 auto;
	width:100%;
	overflow:auto;
	list-style-type:none;
	background-color:rgb(243,245,248,0.5);
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid #ddd;
	padding-top:10px;
	padding-bottom:10px;
	}
.statisM>li{
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	width:20%;
	color:#024B40;
	font-family:"nsrb";
	font-size:16px;
	text-align: center;
	}
.statisM div{/*수치*/
	font-family:"nsreb";
	font-size:40px;
	color:#fd9735;
	border-right:4px solid #024B40;
	}
.statisM li:last-child>div{
	border:none;
}
.statisM b{/*통계숫자*/}