@charset "UTF-8";
/* 
	공통 지정 색상
	#3f1785 > #571fb8 > #B8B2F4
*/
body{font-family:"nsr";}
	#main{
		margin:0 auto;padding:0;width:1300px;
		overflow:auto;
		font-size:32px;
		font-weight:bold;
	}
	/* #main>div{float:left;} */
	.cir1{
		background-color:#fff;/*#3f1785 > #571fb8 > #705abf  */
		width:300px;
		height:300px; border-radius:150px; text-align:center;
		vartical-align:middel;  line-height:100px; 
		float:left;margin:11px; 
		color:#3f1785;
		border:1px solid #3f1785;
	}
	b{font-size:150px;}
	#more{float:right;font-size:13px;}
	