@charset "UTF-8";
/*제목부분*/
#oftenqFrm>first-child{
	color:#595959;
}
.main input[type=text]{
	margin-bottom:20px;
	width:100%;
	padding:7px;
	border:1px solid gray;
	font-family: inherit;/*폰트상속*/
}
.btnFrm{
	float:right;
	margin:5px;
}
