@charset "UTF-8";
body{
	font-family:"nsr";
	}
#main{
	margin:0 auto; 
	padding:0;
	overflow:auto;
	width:1300px;
}
#main>a{
	width:117px;
	font-family:"nsreb";
	font-size:32px;
}
/*텍스트 */
.persnaltxt{
	width:96%;
	margin-top:30px;
	margin-left:2%;
	padding:3px;
	border:1px solid gray;
	font-family: inherit;/*폰트상속*/
}
.persnalarea{
	margin-top:5px;
	width:1248px;
	height:150px;
	margin-left:26px;
	border:1px solid gray;
}
#psubmit{
	margin-top:5px;
	margin-right:26px;
	float:right;
}














