@charset "UTF-8";
body{
	font-family:"nsr";
	}

.main input[type=text]{
	margin-bottom:20px;
	width:86%;
	padding:7px;
	border:1px solid gray;
	font-family: inherit;/*폰트상속*/
}
.btnFrm{
	float:right;
	margin:5px;
}