@charset "UTF-8";
/*32 22 13*/
body{
	font-family:"nsr";
	}
#main{
	margin:0 auto; 
	padding:0;
	overflow:auto;
	width:1300px;
}
.statis{ /*ul style*/
		margin:0 auto;
		padding:0;
		width:100%;
		float:left;
		list-style-type:none;
		background-color:rgb(252,252,254);
		font-family:"nsrb";
		font-size:32px;
		margin-bottom:30px;
		}
.statis>li{
	margin:10px;
	padding:0;
	width:20%;
	color:#3f1785;
	float:left;
	text-align:center;
}
.statis>li:nth-child(1){
	margin-left:20%;
}
.statis>li:nth-child(2){/*중간선긋기*/
	border-left:3px solid rgb(63,23,133,0.7);
	border-right:3px solid rgb(63,23,133,0.7);
}
.statis div{
	font-family:"nsreb";
	font-size:50px;
}

select{
	margin-left:26%;
}
#btndiv{ 
	width:400px;
	margin-right:auto;
	margin-left:auto;
}
#btndiv input{
	margin:20px;
}
#del{
	background-color:rgb(232,0,0,0.8);
	border:1px solid rgb(232,0,0,0.8);
}
#del:hover{
	background-color:#fff;
	color:rgb(232,0,0,0.8)
}


