@charset "UTF-8";
body{
	font-family:"nsr";
	}
#main{
	margin:0 auto; 
	padding:0;
	padding-top:30px;
	overflow:auto;
	width:1300px;
	
}
.t_spend{
	width:50%;
}
.t_spend tr{
	text-align:center;
    height:40px;
    border:1px solid #ddd;
}
.t_spend td{
	border-right:1px solid #ddd;
}
.t_spend tr:nth-child(2n+1){
	background-color:rgb(204,181,242,0.3);
}
.t_spend tr:last-child{
	background-color:#fff;
	text-align:right;
	font-family:"nsrb";
	padding-right:20px;
}



















