@charset "UTF-8";
.btitle{
	font-family:"nsreb";
	text-align:center;
	font-size:40px;
	margin-top:30px;
	margin-bottom:20px;
	}

.statis{ /*ul style*/
		margin:10 auto;
		padding:0;
		width:100%;
		list-style-type:none;
		background-color:rgb(252,252,254);
		font-family:"nsrb";
		font-size:32px;
		margin-bottom:30px;
		overflow:auto;
		}
.statis>li{
	margin:10px auto;
	padding:0;
	width:25%;
	color:#3f1785;
	float:left;
	text-align:center;
}
.statis>li:nth-child(1){
	margin-left:25%;
}
.statis>li:nth-child(2){/*중간선긋기*/
	border-left:3px solid rgb(63,23,133,0.7);
	
}
.statis div{
	font-family:"nsreb";
	font-size:50px;
}

/*그래프 부분*/
#chart_div{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:1200px;
	height:400px;
}

















