@charset "UTF-8";
/*그래프차트부분*/
#chart_div{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	width:1200px;
	height:400px;
}

#chartDiv{
	width: 100%;
    overflow: auto;
    background-color: #ddd;
    margin-top: 50px;
    padding-bottom: 40px;
    border: 1px solid rgb(169 162 162);
}

/*월별회원통계추기*/
.btitle{
	font-family:"nsreb";
	text-align:center;
	font-size:40px;
	margin-top:30px;
	margin-bottom:20px;
	}

/*도넛 차트1*/
.donutUl{
	overflow:auto;
	margin-bottom:30px;
}
.donutUl li{
	float:left;
	width:400px;
	font-size:32px;
	text-align:center;
	padding:0;
	list-style-type:none;
}
.donutUl>li:nth-child(3n+1){
	margin-left:50px;
}



















