@charset "UTF-8";

	*{
		font-family: nsr; 
		font-size: 20px;
		height: auto;
		
	}
	#dealWnEMain{
	/* 	overflow:auto; */
		width:1300px;
		margin:50 auto;
		height: auto; 
	}
	
	#dealWnEMain>div>form select{ 
		height: 30px; 
		width: 150px; 
		margin-right: 5px;
		font-size: 13px;
		/* border: none */;
	
	}
	
	input{
		margin: 15px 0px;
	}
	
	#subject{
		font-size: 25px; 
		border: none; 
		border-bottom: 1px solid gray;
		width: 1000px;  
		margin-top: 10px;
	}
	
	#cnt{
		font-size: 25px; 
		float:right; 
		border: none; 
		border-bottom: 1px solid gray;
	  	margin-top: 10px;
	  	text-align: center;
	}
	
	#cnt::-webkit-input-placeholder ,#gu::-webkit-input-placeholder ,#price::-webkit-input-placeholder,
	#i_ship1::-webkit-input-placeholder ,#i_ship2::-webkit-input-placeholder {
		  text-align: center;
	}
	
	#i_ship1,#i_ship2{
		 display: none;
	}

	#date{
		text-align: center;
	}
	#date,#gu, #price,#i_ship1,#i_ship2{ 
		margin-right: 10px;
		text-align: center;
		border: none; 
		border-bottom: 1px solid gray;
	}

	#tag,#loc { 
		border: none; 
		border-bottom: 1px solid gray;
		width: 1300px; 
	}
	
	#btn{ 
		width: 1300px; 
		text-align: center;
	}
	
	/* 파일 */
	
	.file_input_textbox{  
		border: none; 
		border-bottom: 1px solid gray; 
		width:700px;
		
	}

	#dealSellImg, .dealSellerImg{
	    width: 500px;
   		height: 400px;
    	border: none;
	
	}
	
	.deal_input-file-button {
	    padding: 3px 15px;

	    font-size: 16px;
	    width: 95px;
	    text-align: center;
	    border-radius: 5px;
	    border: 1px solid #3f1785;
	    cursor: pointer;
	    color: #3f1785;
	    background-color: #fff;
}

	/* input[type="submit"]{
	color:#3f1785;
	}
 */

	/* 버튼 스타일 클래스 모음 */
	.commBtn {
		width: 90px;
		color: #3f1785;
		border: 1px solid #3f1785;
	}
	.commBtn:hover {
		border: 1px solid #3f1785;
		background-color: #3f1785;
		font-weight: bold;
		color: #fff;
		font-weight: bold;
	}
	.cancelBtn {
		border: 1px solid #ddd;
		color: #ddd;
		width: 90px;
	}
	.cancelBtn:hover {
		background-color: #fff;
		color: gray;
	}
		
	.confBtn {
		background: #3f1785;
		color: #fff;
		width: 90px;
	}
	.confBtn:hover {
		color: #fff;
		background: #B8B2F4;
	}
	
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
	}
	
	#cke_content,#s_content {
		height: 500px;
		width: 1300px
	}
	
	
	#subject:active{border-bottom:2px solid #571fb8;}
	#subject:focus{border-bottom:2px solid #571fb8; outline: none;}
	#subject:hover{border-bottom:2px solid #571fb8;}
	
	#cnt:active{border-bottom:2px solid #571fb8;}
	#cnt:focus{border-bottom:2px solid #571fb8; outline: none;}
	#cnt:hover{border-bottom:2px solid #571fb8;}
	
	#date:active{border-bottom:2px solid #571fb8;}
	#date:focus{border-bottom:2px solid #571fb8; outline: none;}
	#date:hover{border-bottom:2px solid #571fb8;}
	
	#price:active{border-bottom:2px solid #571fb8;}
	#price:focus{border-bottom:2px solid #571fb8; outline: none;}
	#price:hover{border-bottom:2px solid #571fb8;}
	
	#loc:active{border-bottom:2px solid #571fb8;}
	#loc:focus{border-bottom:2px solid #571fb8; outline: none;}
	#loc:hover{border-bottom:2px solid #571fb8;}
	
	#gu:active{border-bottom:2px solid #571fb8;}
	#gu:focus{border-bottom:2px solid #571fb8; outline: none;}
	#gu:hover{border-bottom:2px solid #571fb8;}
	
	#tag:active{border-bottom:2px solid #571fb8;}
	#tag:focus{border-bottom:2px solid #571fb8; outline: none;}
	#tag:hover{border-bottom:2px solid #571fb8;}
	
	#filename1:active{border-bottom:2px solid #571fb8;}
	#filename1:focus{border-bottom:2px solid #571fb8; outline: none;}
	#filename1:hover{border-bottom:2px solid #571fb8;}
	
	#filename2:active{border-bottom:2px solid #571fb8;}
	#filename2:focus{border-bottom:2px solid #571fb8; outline: none;}
	#filename2:hover{border-bottom:2px solid #571fb8;}
	
	#filename3:active{border-bottom:2px solid #571fb8;}
	#filename3:focus{border-bottom:2px solid #571fb8; outline: none;}
	#filename3:hover{border-bottom:2px solid #571fb8;}
	
	