@charset "UTF-8";

* {
	list-style-type: none;
	font-family: nsr;
}

#dealViewMain {
	width: 1300px;
	margin: 50 auto;
	height: auto;
	overflow: hidden;
}

#bx-pager img {
	width: 80px;
	height: 80px;
	margin: 0 10;
	padding: 0;
}

#sellImg {
	width: 640px;
	height: 620px;
	float: left;
	margin: 0 auto;
	margin-right: 20;
}

.section1 {
	margin: 0;
	width: 640;
	height: 300px;
	border: 1px solid rgb(233, 233, 233);
}

.bx-viewport {
	height: 480px;
}

.slider>li img {
	width: 640;
	height: 480px;
	border: 1px solid rgb(233, 233, 233);
	margin: 0 auto;
	padding: 0;
}

.commBtn {
	font-size: 20px;
	width: 100px;
	color: #3f1785;
	border: 1px solid #3f1785;
	margin-top: 30px;
}

.commBtn:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}

.commBtnDeal {
	font-size: 20px;
	width: 100px;
	margin: -5px 60px;
	color: #3f1785;
	border: 1px solid #3f1785;
}

.commBtnDeal:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}

.commBtnSell {
	width: 200px;
	color: #3f1785;
	border: 1px solid #3f1785;
}

.commBtnSell:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}

.commBtn_sm {
	float: right;
	font-size: 14px;
	width: 80px;
	color: #3f1785;
	border: 1px solid #3f1785;
	margin-left: 490;
}

.commBtn_sm:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}

.commBtnEdit {
	font-size: 20px;
	width: 100px;
	color: #3f1785;
	border: 1px solid #3f1785;
	margin-top: 30px;
	margin-left: 10px;
}

.commBtnEdit:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}

/* 셀러부분 */
#sellInfo {
	width: 640px;
	float: left;
}

#i_subject{
	font-size: 1.75em;
	width: 592px;
	border: none;
}
#i_cnt{
	height: 36px;
	line-height: 36px;
	color:gray;
	border:none;
	font-size: 1.75em;
	width: 35px;
	padding-left: 10;
}
#i_price{
	float:right;
	height:36px;
	border:none;
	color:gray;
	font-size:1.75em;
	text-align:right;
}
#i_ship{
	border:none;
	width:36px;
	
}
#i_subject:focus, #i_cnt:focus, #i_price:focus, #i_ship:focus {
	outline:none;
}

#sellInfo>div:first-child {
	overflow: auto;
	border-top: 2px solid gray;
	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0px 10px 10px;
}

#sellInfo ul {
	overflow: auto;
}

#sellInfo ul li {
	float: left;
	font-size: 16px;
	line-height: 45px;
}

#sellInfo ul li:nth-child(2n+1) {
	width: 40%;
	padding-left: 35px;
}

#sellInfo ul li:nth-child(2n+2) {
	width: 60%;
}

#option_content, #option_title {
	width: 250px;
	height: 33px;
	border-radius: 5px;
}

.itemElement {
	background: #e0e0e0;
	margin-top: 5px;
	margin-bottom: 2px;
	border-radius: 5px;
}

.itemElement>div {
	height: 40px;
	line-height: 40px;
	float: left;
}

.itemElement>div:first-child {
	width: 350px;
	padding-left: 10px;
}

.itemElement>div:nth-child(2) {
	width: 100px;
}

.itemElement>div:nth-child(3) {
	width: 140px;
	text-align: center;
}

.itemElement>div:nth-child(4) {
	width: 50px;
}

.itemElementDel {
	margin-top: 8px;
	margin-right: 5px;
	float: right;
}

.choice {
	height: 28px;
	width: 100px;
	margin-top: 6px;
	placeholder: 수량
}
#submitCancleBtn{
	margin-bottom:60px;
}
#submitCancleBtn>input {
	width: 300px;
	height: 35px;
	margin: 20px 9px;
}

/* 중간페이지 이동*/
#locationBar a {
	color: gray;
	font-size:1.4em;
	font-weight:bold;
	text-decoration: none;
}

#locationBar a:hover {
	font-weight: 700;
}

.locationBar {
	float: left;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 0;
	width: 1300px;
	height: 40px;
	line-height: 39px;
	border-bottom: 1px solid gray;
}

.locationBar div {
	float: left;
	width: 433;
	text-align: center;
	height: 40px;
}

.OptionStyle{
	background: #000;
    height: 30px;
    display: inline-block;
    margin-top: 6px;
    line-height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    color: #fff;
}
/* -----중간페이지 이동*/

/* 리뷰 */
#sellReview {
	width: 1300px;
	height: 370;
	float: left;
	margin: 22px 0px;
}

#sellReview>div:nth-child(2n+1) {
	margin: 0px 20px 20px 0px;
}

#oneReview {
	width: 640px;
	height: 160px;
	float: left;
	border: 1px solid gray;
}

#oneReview li {
	float: left
}

#oneReview li>div:nth-of-type(1) {
	width: 479px;
	height: 40px;
	font-weight: bold;
	margin: 0px;
	padding: 10px;
}

#oneReview li>div:nth-of-type(2) {
	padding: 10px;
	width: 479px;
	height: 130px;
}

#oneReview li>div:nth-of-type(1)>img {
	float: right;
	margin-right: 10px;
	height: 25px;
    margin-top: -2px;
}

#pic>img {
	width: 159px;
	height: 159px;
	margin: 0;
	padding: 0;
}
/* ------리뷰 */

/* 페이징 */
#pageNum {
	padding-left: 42%;
	margin-bottom: 40px;
	width: 1300px;
	height: 20px;
	float: left;
}

#pageNum a {
	color: #3f1785;
}

#pageNum a:hover {
	text-decoration: none;
	color: #705abf;
	font-weight: bold;
}

#qaBtn {
	padding-right:
}

/* 내용부분 */
#sellDetail {
	width: 1300;
	float: left;
	margin: 22px auto;
	border: 1px solid gray;
	padding: 20px;
}

/* 큐앤에이 */
#sellQnA {
	width: 1300;
	float: left;
}

.sellShortDescription {
	color: #3f1785;
	font-weight: bold;
	margin-bottom: 20px;
}

h4 {
	font-weight: bold;
	display: inline;
}

#sellQnAList {
	margin: 22 0;
	width: 1300px;
	list-style-type: none;
	overflow: auto;
	border-top: 1px solid #d9d9d9;
}

#sellQnA li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sellQnAList>#point {
	text-align: center;
}

#sellQnAList>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
}

#sellQnAList>li:nth-child(5n+1) {
	width: 100;
}

#sellQnAList>li:nth-child(5n+2) {
	width: 200;
}

#sellQnAList>li:nth-child(5n+3) {
	width: 550;
	text-overflow: ellipsis;
	text-align: left;
}

#sellQnAList>li:nth-child(5n+4) {
	width: 225;
	text-overflow: ellipsis;
}

#sellQnAList>li:nth-child(5n+5) {
	width: 225;
	text-overflow: ellipsis;
}

.commBtn {
	width: 120px;
	color: #3f1785;
	border: 1px solid #3f1785;
}

.commBtn:hover {
	border: 1px solid #3f1785;
	background-color: #3f1785;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
}

.cancelBtn {
	border: 1px solid #ddd;
	color: #ddd;
	width: 90px;
}

.cancelBtn:hover {
	background-color: #fff;
	color: gray;
}

.confBtn {
	background: #3f1785;
	color: #fff;
	width: 90px;
}

.confBtn:hover {
	color: #fff;
	background: #B8B2F4;
}

#popup {
	position: absolute;
	top: 1500px;
	left: 30%;
	display: none;
	width: 800px;
	height: 250px;
	background-color: white;
	border: 1px solid #000;
}

#popup div {
	float: left;
}

#popup div:nth-child(1) {
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 2px;
	margin-top: 18;
	margin-left: 20;
	margin-right: 20;
	width: 760px;
}

#popup div:nth-child(1) label {
	vertical-align: 2px;
}

#popup div:nth-child(2) {
	text-align: center;
	margin-bottom: 2px;
	margin: 10;
	width: 780px;
}

#popup div:nth-child(2) textarea {
	width: 700;
	height: 90;
}

#popup div:nth-child(3) {
	text-align: right;
	margin: 10;
	width: 780px;
}