@charset "UTF-8";
	#farmerDealTbl tr>td{/*전체적인 열 폭조정*/
		width:15%;
	}
	#farmerDealTbl tr>td:nth-child(1){/*첫번째 열 선택*/
		width:13%;
	}
	#farmerDealTbl tr>td:nth-child(2){/*세번째 열 선택 : 제목부분*/
		position:relative;
		width:30%;
	}
	
	.farmerDealFrm{
		position:absolute;
		top:5px;
  	  	left:62px;
  	 	height:40px;
		width:150px;
		line-height:40px;
		background-color:#fff;
	    text-align:center;
	}
	.farmerMdOpen{
		border:none;
		background-color:#fff;
	}
	#myinfoFarmerDealPaging{
		margin-top:30px;
	}