@charset "UTF-8";
	.saleHistoryCenter{
		width:800px;
		margin:0 auto;
	}
	#saleHistoryTop{
		overflow:auto;
	}
	.saleHistoryTop{
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		width:260px;
		height:140px;
		float:left;
		margin-top:10px;
		padding:10px 0;
		text-align:center;
	}
	.saleHistoryTop>ul, .saleHistoryTop>ul>li{
		width: 260px;
	}
	.saleHistoryTop>ul>li:first-child {
		height: 50px; line-height: 50px;
		font-size: 18px; font-family: nsrb;
	}
	.saleHistoryTop>ul>li:last-child {
		height: 70px; line-height: 70px;
		font-size: 20px;
	}
	.saleHistoryBottom{
		margin-top:50px;
	}
	.saleHistoryBottom a{
		font-size:16px;
	}
	.saleHistorySpan{
		font-family: nsreb;
		font-size:26px;
		text-align:center;
		margin-right: 5px;
		
	}
	.saleHistoryHeader{
		margin: 50px 10px 15px 10px;	
	}
	.saleHistoryHeader>a {
		font-size: 22px; font-family: nsrb;
	}
	.myinfoSaleHistoryTable2 {
		width:100%;
		margin:0 auto;
		padding:0;
		height:200px;
		border-bottom: 1px solid #ddd;
	}
	.myinfoSaleHistoryTable2 tr{/*테이블 목록*/
		border-bottom:1px solid rgb(227,227,227); 
		text-align:center;
    }
	.myinfoSaleHistoryTable2 tr:first-child{/*첫번째 테이블 목차*/
		text-align:center;
		background-color:rgb(78,190,154,0.1);
		color: gray;
		font-family: nsreb;
	}
	.myinfoSaleHistoryTable2 tr:first-child>td{/*첫번째 테이블 목차*/
		height: 20px;
    	font-size: 18px;
	}
	.myinfoSaleHistoryTable2 tr:last-child{/*마지막 줄 tr 스타일*/
		border-bottom: 1px solid #ddd;
	}
	.myinfoSaleHistoryTable2 tr:last-child>td{
		height: 40px;
		font-size: 24px;
	}
