@charset "UTF-8";
	.myDealFrm{
		position:absolute;
		top:5px;
  	  	left:62px;
  	 	height:40px;
		width:150px;
		line-height:40px;
		background-color:#fff;
	    text-align:center;
	}
	#myDealTbl tr>td{/*전체적인 열 폭조정*/
		width:10.5%; 
	}
	#myDealTbl tr>td:nth-child(){/*첫번째 열 선택*/

	}
	#myDealTbl tr>td:nth-child(3){/*세번째 열 선택 : 제목부분*/
		width:50%;
	}
	.myDealBtn{
		position:relative;
	}
	.myDealMem{
   		width:113px;
   		height:100px;
    	overflow:auto;
		position:absolute;
		top:0;
		left:116px;
		z-index:200;
		text-align:center;
		border:2px solid black;
	}
	#myDealToggle{
		float:right;
		margin-bottom:10px;
	}
	.modal-dialog{
		margin-top:20%;
	}
	.modal-content{
		height:240px;
	}
	.modal-dialog {
		margin-top:10%;
	}
	#myinfoPaging{
		margin-top:10px;
	}
	#dealSearchKey{
		height:30px;
	}
	.reviewList{
		text-align:center;
		padding:20px 30px;
	}

	.reviewListHearder>ul>li{
		background-color:#ddd;
	}
	#reviewList>ul>li, .reviewListHearder>ul>li{
		float:left;
		width:20%;
		height:70px;
		line-height:70px;
		font-weight:bold;
   		font-size:16px;
   		border-bottom:1px solid #ddd;
	}
	#reviewList>ul>li:nth-child(5n+2)>button{
		width:100px;
		height:40px;
	}