@charset "UTF-8";
	.loadTop{
		overflow:auto;
	}
	#loadArea{
		width:500px;
		height:300px;
		float:left;
	}
	#loadArea>form>ul>li{
		float:left;
		width:25%;
		margin:20px 0;
	}
	#loadArea>form>input:nth-child(1){
		width:100%;
		height:50px;
		padding-left:10px;
	}
	#myPoint{
		border:1px solid #3f1785;
		color:#3f1785;
		width:300px;
		float:right;
		padding:50px 30px;
		font-weight:bold;
		border-radius:5em;
	}
	.selectBox{
		width:140px; height:38px; margin-bottom:10px; position:relative;
	}
	.textBox{
		width:300px; height:30px; margin-bottom:10px; padding-left:5px;
	}
	#loadList{
		width:1000px; position:relative; padding:20px 0;
		
	}
	.loadDateFrm{
		position:absolute;
		top:61px;
  	  	left:375px;
  	 	height:40px;
		width:270px;
		line-height:40px;
		z-index:100;
		background-color:#fff;
		text-align:center;
		
	}
	.loadDate{ 
		width:300px; 
		height:60px; 
		background-color:#fff; 
		padding:0 10px; 
		position:relative; 
		margin:0px 0px 10px 360px; 
		border:4px solid #3f1785;
	    border-radius:100px;
	}
	.loadLine{
	  	position:absolute; 
	  	background-color:#3f1785; 
	  	width:100%; 
	  	height:4px; 
	  	top:78px; 
	  	border-radius:100px;
	}
	#selPayment{
		width:100px; 
		height:30px; 
		float:right; 
		margin:0px 0px 0px 790px;
		top:46px;
 	 	z-index:200;
	}
	.load{
		margin:10px 0;	
	}
	.pointList{
		width:100%;
		overflow:auto;
		border-bottom:1px solid gray;
	}
	.pointList>li{
		padding:30px;
		width:100%;
		height:160px;
		float:left;
		border-bottom:1px solid lightgray;
	}
	.pointStatus{
		width:100px;
		height:100px;
		line-height:100px;
		border:2px solid #89d689;
		border-radius:50%;
		font-size:22px;
		font-weight:bold;
		float:left;
		text-align:center;
		margin-right:20px;

	}
	.pointDate{
		color:gray;
		margin:0;
	}
	.pointContent{
		font-weight:bold;
		font-size:20px;
		float:left;
		width:50%;
	}
	.usePoint{
		font-weight:bold;
		text-align:right;	
		float:right;
		width:37%;
		font-size:22px;
	}
	.pointItem{
		float:left;
		height:40px;
		line-height:40px;
		color:gray;
		margin-top:6px;
	}
	.point-status-red{
		border:2px solid #f37176;
	}
	.point-color-red{
		color:#f37176;
	}
	.point-color-green{
		color:#7bc47b;
	}