@charset "UTF-8";
	.reviewTop{
		overflow:auto;		
	}	
	.reviewLeft{
		margin-top:20px;
	}
	.reviewLeft, .reviewRight{
		width:100%;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		height:400px;
		overflow:auto;
		padding-top:10px;
		
	}
	.reviewBottom{
		overflow:auto;
		position:relative;
		margin:30px 0px;
	}
	.dealDateForm{
		float:left;
		margin-bottom:10px;
	}
	.dateFrm{
		position:absolute;
		top:5px;
  	  	left:62px;
  	 	height:40px;
		width:110px;
		line-height:40px;
	}
	.reviewSearchArea{
		float:right;
		margin-buttom:10px;
	}
	.reviewSearchArea input[type=text]{
		height:30px;
		padding-left:6px;
	}
	#reviewSearchAreaBtn{
		width:60px;
		height:30px;
		line-height:10px;
    	background-color: #3f1785;
    	color: #fff;
	}
	.myinfoReviewList{
		padding:20px 0px;
	}
	.myinfoReviewList>table tr>td>img{
		width:50px;
		height:50px;
	}
	#itemListPaging, #shareListPaging, #myReviewListPaging{
		margin-top:30px;
	}
	.reviewLeft>h5{
		float:left;
	}
	.reviewLeft>select, .dealDateForm>select{
		float:right;
		height:27px;
    	width:100px;
	}
	.reviewSearchArea>select{
		height:30px;
    	width:100px;
	}
	#myinfoReviewTable tr>td:nth-child(1){
		
	}
	#myinfoReviewTable tr>td:nth-child(2){
		width:20%;
	}
	#myinfoReviewTable tr>td:nth-child(3){
		width:22%;
	}
	.myinfoReviewTable{
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.myinfoReviewTable tr{/*테이블 목록*/
		border-bottom:1px solid rgb(227,227,227); 
		text-align:center;
		height:40px;
    }
    .myinfoReviewTable tr:first-child {
    	text-align: center;
    	background-color: #3f1785;
    	color: #fff;
    	font-weight: bold;
    }
	#myinfoMyReviewTable tr:first-child{/*첫번째 테이블 목차*/
		text-align:center;
		background-color:#3f1785;
		color:#fff; 
		font-weight:bold;
	}
	#myinfoMyReviewTable tr:last-child{/*마지막 줄 tr 스타일*/
		border-bottom:2px solid #3f1785;
	}
	#myinfoMyReviewTable tr>td{/*전체적인 열 폭조정*/
		
	}
	#myinfoMyReviewTable tr>td:nth-child(1){
		
	}
	#myinfoMyReviewTable tr>td:nth-child(2){/*세번째 열 선택 : 제목부분*/
		
	}

	#myinfoMyReviewTable tr>td:nth-child(5){/*세번째 열 선택 : 제목부분*/
		
	}
	#myinfoMyReviewTable tr>td:last-child{/*세번째 열 선택 : 제목부분*/

	}
	#reviewUpdate, #WriteReview{
		float:right;
		margin-left:3px;	
	}
	#reviewUpdate{
		display:none;
	}
