@charset "UTF-8";
	.activitySelect{
		float:right;	
	}
	#activitySelectbox{
		width:106px;
		height:30px;
	}
	.activityRight{
		
	}
	.myActivityForm{
		width:430px;
		float:left;
	}
	.myActivityDateFrm{
		position:absolute;
		top:5px;
  	  	left:60px;
  	 	height:40px;
		width:110px;
		line-height:40px;
		background-color:#fff;
	    text-align:center;
	}
	#activityTbl{
	}
	#activityTbl tr>td{/*전체적인 열 폭조정*/
		width:15%;
	}
	#activityTbl tr>td:nth-child(1){
		width:5%;/*첫번째 열 선택*/
	}
	#activityTbl tr>td:nth-child(2){
		width:10%;
	}
	#activityTbl tr>td>a, #activityTbl tr>td>p{
		white-space:nowrap;
   		overflow:hidden;
   	 	text-overflow:ellipsis;
   	 	margin:0;
	}
	#activityTbl tr>td:nth-child(4)>a, #activityTbl tr>td:nth-child(5)>p{
		width:200px;
	}
	#activityTbl tr>td:nth-child(6){/*세번째 열 선택 : 제목부분*/
		width:8%;
	}
	#activityTbl tr>td:nth-child(7){/*세번째 열 선택 : 제목부분*/
		width:8%;
	}
	#myBoardDelete{
		float:right; 
		height:30px;
		margin-bottom:10px; 
		line-height:10px
	}
	#viewActivityQnA>li{
		text-align:left;
		height:30px;
		line-height:30px;	
	}
	#viewActivityQnA>li:nth-child(4){
		border: 1px solid #ddd;
	    overflow: auto;
	    height: 330px;
	}
	#viewActivityQnA>li:nth-child(6){
		border: 1px solid #ddd;
	    overflow: auto;
	    height: 200px;
	}