@charset "UTF-8";
	.activitySelect{
		float:right;	
	}
	#activitySelectbox{
		width:106px;
		height:30px;
	}
	.activityRight{
		float:right;
	}
	.myActivityForm{
		width:430px;
		float:left;
	}
	.myActivityDateFrm{
		position:absolute;
		top:5px;
  	  	left:60px;
  	 	height:40px;
		width:110px;
		line-height:40px;
		background-color:#fff;
	    text-align:center;
	}
	#activityTbl{
	}
	#activityTbl tr>td{/*전체적인 열 폭조정*/
		width:15%;
	}
	#activityTbl tr>td:nth-child(1){
		width:5%;/*첫번째 열 선택*/
	}
	#activityTbl tr>td:nth-child(4){/*세번째 열 선택 : 제목부분*/
		width:35%;
	}