@charset "UTF-8";
	.myInfoReviewManagementTable {
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.myInfoReviewManagementTable tr{/*테이블 목록*/
		border-bottom:1px solid rgb(227,227,227); 
		text-align:center;
		height:40px;
    }
	.myInfoReviewManagementTable tr:first-child{/*첫번째 테이블 목차*/
		text-align:center;
		background-color:#3f1785;
		color:#fff; 
		font-weight:bold;
	}
	.myInfoReviewManagementTable tr:last-child{/*마지막 줄 tr 스타일*/
		border-bottom:2px solid #3f1785;
	}
	.myInfoReviewManagementTable tr>td{/*전체적인 열 폭조정*/
		width:15%;
	}
	.myInfoReviewManagementTable tr>td:nth-child(2){
		width:25%;
	}
	.myInfoReviewManagementTable tr>td:nth-child(4){/*세번째 열 선택 : 제목부분*/
		width:30%;
	}