<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.team4.localer.dao.DealShareDAO">
 	<insert id="dealInsert" parameterType="com.team4.localer.vo.DealShareVO" >
		insert into mem_share (num,userid, s_cate, s_status, s_subject, s_cnt, s_content,s_img1,s_loc,s_gu,s_price,s_date,s_tag)
		values (boardsq.nextval, #{userid},#{s_cate},#{s_status},#{s_subject},#{s_cnt},#{s_content},#{s_img1},#{s_loc},#{s_gu},#{s_price},#{s_date},#{s_tag})
	</insert>
	<select id="dealOneselect"  resultType="com.team4.localer.vo.DealShareVO">
		<![CDATA[ 
			select num,userid, s_cate, s_subject, s_content,s_img1,s_loc,s_gu,to_char(s_price,'999,999,999,999') s_price,s_date,s_tag 
			from (select * from mem_share where userid=#{userid} order by num desc) where rownum<2
		]]>
	</select>
	<select id="dealListSelect" resultType="com.team4.localer.vo.DealShareVO" >
		select num, s.userid, s_cate, s_status, s_subject, s_cnt, s_content,s_img1,s_loc,s_gu, to_char(s_price,'999,999,999,999') s_price ,to_char(s_date, 'MM/YY HH:MI') as s_date, s_tag,
            to_char(mem_sub, 'YYYY-MM-DD' ) mem_sub, mem_post, mem_rev, mem_prof, mem_nick 
		from mem_share s join member m on s.userid=m.userid <![CDATA[ where sysdate<=s_date ]]> and s_status=1
		<if test="s_cate !=null and s_cate!='' ">
			and s_cate=${s_cate}
		</if>
		order by num desc
	</select>
	<select id ="dealViewSelect" resultType="com.team4.localer.vo.DealShareVO">
  		 select num, s.userid, s_cate, s_status, s_subject, s_cnt, s_content,s_img1,s_loc,s_gu,to_char(s_price,'999,999,999,999') s_price ,to_char( s_date , 'YYYY-MM-DD') s_date, s_tag,
  		 to_char(mem_sub, 'YYYY-MM-DD' ) mem_sub, mem_post, mem_rev, mem_prof, mem_nick 
		from mem_share s join member m on s.userid=m.userid  where  num=#{param1} 
  	</select>
  	<select id ="dealViewSelectNumX" resultType="com.team4.localer.vo.DealShareVO">
  		 select num,userid, s_cate, s_status, s_subject, s_cnt, s_content,s_img1,s_loc,s_gu,s_price ,to_char( s_date , 'YYYY-MM-DD') s_date, s_tag
		from mem_share where  num=#{param1} 
  	</select>
  	<delete id="dealSellDelete" >
		delete from mem_share where num=#{param1} and userid=#{param2}
	</delete>
	<update id="dealUpdate" parameterType="com.team4.localer.vo.DealShareVO">
		UPDATE mem_share SET s_status=#{s_status}, s_subject=#{s_subject},s_cnt=#{s_cnt}, s_content=#{s_content},
		<if test="s_img1!=null and s_img1!='' ">
		s_img1=#{s_img1},
		</if>
		s_loc=#{s_loc},s_price=#{s_price},s_date=#{s_date},	s_tag=#{s_tag}  where num=#{num} and userid=#{userid}
	</update>
 </mapper>