<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.localer.dao.HomeDAO">

	<select id="getGroupList" resultType="com.team4.localer.vo.GroupVO">
		SELECT up_cate, g_subject, TO_CHAR(g_date, 'YYYY/MM/DD') g_date, TO_CHAR(g_time, 'HH24:MI') g_time, g_loc1, g_cnt, g.USERID   
		FROM GROUPLOCAL g  
		<if test='g_gu!=null and g_gu!="" '>
			and g_gu = #{param1}
		</if>
	</select>
	
</mapper>