<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.localer.dao.ManageDAO">
	<select id="memberAllSelect" resultType="com.team4.localer.vo.MemberVO">
  		select * from
			(select *from
				(select mem_no, userid, mem_name, mem_addr, mem_tel, mem_status, mem_type from ${cate}
				<if test="!searchWord.equals('') and searchWord!=null"><!-- 검색어가 있을때 -->
					where ${searchKey} like #{searchWord}
				</if>
				order by ${num} desc)
					where rownum <![CDATA[<=]]> ${pageNum}*${onePageRecord} order by ${num} )
					where rownum <![CDATA[<=]]>
					<if test="pageNum == totalPage"><!-- 현재페이지 == 총페이지 -->
						${lastPageRecord}
					</if>
					<if test="pageNum != totalPage">
						${onePageRecord}
					</if>
					order by ${num} desc		
  	</select>
  	<select id="memInfoCount" resultType="int">
  		select count(userid) from ${param2} where userid=#{param1}
  	</select>
  	<select id="memOneSelect" resultType="com.team4.localer.vo.MemberVO">
  		<!-- 게시물수 , 등급, 가입날짜 -->
  		select userid, mem_post, mem_rev, to_char(mem_sub, 'YYYY.MM.DD') mem_sub from member where userid=#{param1}
  	</select>
  	<update id="memberManageUpdate">
  		update member set ${param2}=${param3} where userid=#{param1}
  	</update>
  	<!-- 셀러관리 페이지 부분 -->
  	<select id="sellerAllSelect" resultType="com.team4.localer.vo.SellerVO">
  		select * from
			(select *from
				(select s.sel_num, s.userid ,s.sel_name, s.sel_addr,s.sel_detail, s.sel_lvl,s.sel_tel, 
				   m.mem_status, m.mem_type 
				   from seller s join member m on s.userid = m.userid 
				<if test="!searchWord.equals('') and searchWord!=null"><!-- 검색어가 있을때 -->
					where ${searchKey} like #{searchWord}
				</if>
				order by ${num} desc)
					where rownum <![CDATA[<=]]> ${pageNum}*${onePageRecord} order by ${num} )
					where rownum <![CDATA[<=]]>
					<if test="pageNum == totalPage"><!-- 현재페이지 == 총페이지 -->
						${lastPageRecord}
					</if>
					<if test="pageNum != totalPage">
						${onePageRecord}
					</if>
					order by ${num} desc	
  	</select>
  	<select id="sellerDetailInfo" resultType="com.team4.localer.vo.AdminstatisVO">
  		select s.i_num, s.i_subject, to_char(s.i_writedate,'YYYY/MM/DD') i_writedate, 
				count(case when o.o_conf=1 then 1 end) o_conf1,
				count(case when o.o_conf=2 then 1 end) o_conf2, 
				sum(case when o.o_conf=2 then o.o_price else 0 end) price_total
				from sell_item s, ordertbl o where s.i_num = o.num
		group by i_num,s.sel_num, s.i_subject, s.i_writedate
		having s.sel_num=#{param1}
  	</select>
  	<select id="memShareAllSelect" resultType="com.team4.localer.vo.MemShareVO">
  		select * from
			(select *from
				(select m.num , m.s_cate ,m.s_subject ,m.s_cnt ,m.userid , 
				to_char(m.s_writedate,'YYYY/MM/DD') s_writedate, count(case when r.num=m.num then 1 end) reportCount
				from mem_share m, report r 
				<if test="!searchWord.equals('') and searchWord!=null">
					where ${searchKey} like #{searchWord}
				</if>
				group by m.num, m.s_cate,m.s_subject,m.s_cnt,m.userid, m.s_writedate
				order by num desc
			)
			where rownum <![CDATA[<=]]> ${pageNum}*${onePageRecord} order by ${num} )
			where rownum <![CDATA[<=]]>
					<if test="pageNum == totalPage"><!-- 현재페이지 == 총페이지 -->
						${lastPageRecord}
					</if>
					<if test="pageNum != totalPage">
						${onePageRecord}
					</if>
					order by ${num} desc
  	</select>
  	<select id="sellerBoardSelect" resultType="com.team4.localer.vo.SellitemVO">
	  	select * from
			(select *from
				(select i.i_num, i.i_status, i.i_subject,i.i_cnt, s.userid ,to_char(i.i_writedate, 'YYYY/MM/DD') i_writedate,i.i_hit
		from sell_item i join seller s on i.sel_num = s.sel_num
			<if test="!searchWord.equals('') and searchWord!=null"><!-- 검색어가 있을때 -->
					where ${searchKey} like #{searchWord}
			</if>
			order by ${num} desc)
			where rownum <![CDATA[<=]]> ${pageNum}*${onePageRecord} order by ${num} )
			where rownum <![CDATA[<=]]>
					<if test="pageNum == totalPage"><!-- 현재페이지 == 총페이지 -->
						${lastPageRecord}
					</if>
					<if test="pageNum != totalPage">
						${onePageRecord}
					</if>
					order by ${num} desc
  	</select>
  	<delete id="selManageDel">
  		delete from ${param2} where ${param3}=${param1}
  	</delete>
  	<select id="boardManageAllSelect" resultType="com.team4.localer.vo.GroupVO">
  		select * from
			(select *from
				(select g.num,g.up_cate,g.down_cate,g.g_subject,g.g_cnt,g.userid, 
			  		to_char(g.g_writedate,'YYYY-MM-DD') g_writedate, 
			  		count(case when r.num=g.num then 1 end) reportCount
				from grouplocal g, report r 
				<if test="!searchWord.equals('') and searchWord!=null">
					where ${searchKey} like #{searchWord}
				</if>
				group by g.num,g.up_cate,g.down_cate,g.g_subject,g.g_cnt,g.userid, g.g_writedate
				order by g.num desc
			)
			where rownum <![CDATA[<=]]> ${pageNum}*${onePageRecord} order by ${num} )
			where rownum <![CDATA[<=]]>
					<if test="pageNum == totalPage"><!-- 현재페이지 == 총페이지 -->
						${lastPageRecord}
					</if>
					<if test="pageNum != totalPage">
						${onePageRecord}
					</if>
					order by ${num} desc
  	</select>
  	<select id="cumuManageListSearch" resultType="com.team4.localer.vo.BoardVO">
  		select * from
			(select *from
				(select b.num, b.up_cate, b.b_gu,b.b_subject,b.userid,b.b_hit,
  					to_char(b.b_writedate,'YYYY-MM-DD') b_writedate, count(case when r.num=b.num then 1 end) reportCount
					from board b, report r 
					<if test="!searchWord.equals('') and searchWord!=null">
						where ${searchKey} like #{searchWord}
					</if>
					group by b.num, b.up_cate, b.b_gu, b.b_subject, b.userid, b.b_writedate, b.b_hit
			  		order by b.num desc
			)
			where rownum <![CDATA[<=]]> ${pageNum}*${onePageRecord} order by ${num} )
			where rownum <![CDATA[<=]]>
					<if test="pageNum == totalPage"><!-- 현재페이지 == 총페이지 -->
						${lastPageRecord}
					</if>
					<if test="pageNum != totalPage">
						${onePageRecord}
					</if>
					order by ${num} desc
  	</select>
  	<select id="selManageStatis" resultType="com.team4.localer.vo.AdminstatisVO">
  		select count(m.num)+count(s.i_num) price_total,
				count(case when m.s_status=1 then 1 end)+count(case when s.i_status=1 then 1 end) o_conf1, 
				count(case when m.s_status=2 then 1 end)+count(case when s.i_status=2 then 1 end) o_conf2
				from mem_share m, sell_item s
  	</select>
  	<select id="boardManageStatis" resultType="com.team4.localer.vo.AdminstatisVO">
  		select 
		    (select count(*)  from grouplocal) o_conf1,
		    (select count(*)  from board) o_conf2,
		    (select count(*)  from sell_item)
		    +(select count(*) from mem_share) price_total 
		    from dual
  	</select>
</mapper>