<?xml version="1.0" encoding="UTF-8"?>
<!-- copy from https://mybatis.org/mybatis-3/ko/getting-started.html -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.localer.dao.MemberDAO">
	<select id="memLogin" resultType="com.team4.localer.vo.MemberVO">
		select userid, mem_name, mem_nick, loc_gu, mem_type from member where userid=#{param1} and userpwd=#{param2}
	</select>
	<select id="idDoubleCheck" resultType="String">
		select userid from member where userid=#{param1}
	</select>
	<select id="nickNameDoubleCheck" resultType="String">
		select mem_nick from member where mem_nick=#{param1}
	</select>
	<insert id="insertMember" parameterType="com.team4.localer.vo.MemberVO">
		INSERT INTO MEMBER(MEM_NO, userid, userpwd, MEM_NAME, MEM_TEL, MEM_EMAIL, MEM_ZIP, MEM_ADDR, MEM_DETAIL, LOC_GU, MEM_PROF,MEM_NICK, MEM_CONTENT)
		VALUES (MEMSQ.nextval, #{userid}, #{userpwd}, #{mem_name}, #{mem_tel}, #{mem_email}, 
		#{mem_zip}, #{mem_addr}, #{mem_detail}, #{loc_gu}, #{mem_prof}, #{mem_nick}, #{mem_content})
	</insert>
	
	<update id="memPostCount"><!-- 게시글올리면 카운트되는 함수 -->
		update member set mem_post = mem_post+1 where userid=#{param1}
	</update>
</mapper>