<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.localer.dao.SellerDAO">
	<insert id="sellerInsert" parameterType="com.team4.localer.vo.SellitemVO">
		insert into sell_item(i_num, sel_num, i_subject, i_cnt, i_content, i_img1,
		<choose>
			<when test="i_img2!=null and i_img3==null">
				i_img2,
			</when>
			<when test="i_img2!=null and i_img3!=null">
				i_img2, i_img3,
			</when>
		</choose>
		 i_price, i_ship, i_period, i_status, i_tag)
		values(boardsq.nextval, (select sel_num from seller where userid=#{userid}),#{i_subject}, #{i_cnt},
		#{i_content},#{i_img1}
		<choose>
			<when test="i_img2!=null and i_img3==null">
				,#{i_img2}
			</when>
			<when test="i_img2!=null and i_img3!=null">
				,#{i_img2},#{i_img3}
			</when>
		</choose>
		,#{i_price},#{i_ship},to_date(#{i_period},'YYYY-MM-DD'),#{i_status},#{i_tag})
	</insert>
	
	<insert id="itemOptionInsert">
		insert into item_option(opt_num, i_num, option_title, option_content, o_price)
		values(optsq.nextval, (select i_num from (select * from sell_item where sel_num=(select sel_num from seller where userid=#{param1}) 
		and <![CDATA[i_writedate<= ]]> sysdate order by i_writedate desc) where <![CDATA[  rownum <=]]>1), #{param2},#{param3},#{param4})	
	</insert>
	
	<insert id="repeatOptionIsert">
		insert into item_option(opt_num, i_num, option_title, option_content, o_price) 
		values(optsq.nextval, #{param1}, #{param2}, #{param3}, #{param4})
	</insert>


	<select id="notOverlapOptionTitleSel" resultType="com.team4.localer.vo.Item_optionVO">
		select distinct option_title from item_option where i_num=#{param1}	
	</select>
	
	<select id="changeOptions" resultType="com.team4.localer.vo.Item_optionVO">
		select option_content, o_price from item_option where option_title=#{param1} and i_num=#{param2}
	</select>
	
	<select id="optionSelectAll" resultType="com.team4.localer.vo.Item_optionVO">
		select option_title, option_content, o_price from item_option where i_num=#{param1}
	</select>


	<select id="selectAllitem" resultType="com.team4.localer.vo.SellitemVO">
		SELECT si.i_num, si.sel_num, si.i_subject, si.i_cnt, si.i_img1, si.i_price, si.i_period, si.i_tag, s.userid, s.sel_prof  
		FROM SELL_ITEM si JOIN SELLER s ON si.sel_num = s.sel_num WHERE <![CDATA[ sysdate<=si.i_period ]]> ORDER BY si.i_num DESC
	</select>
	
	
	<select id="selectOnePage" resultType="com.team4.localer.vo.SellitemVO">
		select i_num, i_subject, i_content, i_cnt, i_price, to_char(i_writedate,'YYYY-MM-DD') i_writedate, to_char(i_period,'YYYY-MM-DD') i_period, i_status, i_ship, s.userid, s.sel_prof 
		,i_img1, i_img2, i_img3 from sell_item i join seller s on i.sel_num = s.sel_num where i_num=#{param1}
	</select>
	
	
	<select id="sellerInfo" resultType="com.team4.localer.vo.SellerVO">
		select count(item.i_num) as sel_count , s.userid,s.sel_lvl,s.company,s.sel_tel,s.sel_name,s.com_num,s.sel_addr,s.sel_prof 
		from seller s join sell_item item on item.sel_num =s.sel_num
		where userid=#{param1} group by s.userid, s.sel_lvl, s.company, s.sel_tel, s.sel_name, 
		s.com_num, s.sel_zip, s.sel_addr, s.sel_prof
	</select>
	<select id="sellerItems" resultType="com.team4.localer.vo.SellitemVO">
		select i_num, i_subject, i_cnt, i_img1,i_price, i_tag 
			from sell_item i join seller sel on sel.sel_num =i.sel_num where sel.userid=#{param1}
	</select>
	
	<select id="findChaSpPoint" resultType="com.team4.localer.vo.Cha_pVO">
		select
  			 (select sum(cha_point) from cha_p where userid=#{param1}) as cha_point,
   			 (select nvl(sum(sp_point),0) from sp_p where userid=#{param1}) as sp_point
		from dual
	</select>
	
	<insert id="sellerOrderInsert" parameterType="com.team4.localer.vo.OrderVO">
		insert into ordertbl(o_num, userid, num, opt_str, o_mtd, o_cnt, o_price, o_ship) values(ordersq.nextval, #{userid}, #{num}, #{opt_str}, #{o_mtd}, #{o_cnt}, #{o_price}, #{o_ship})
	</insert>
	
	
	<insert id="cha_pointInsert">
		insert into cha_p(userid, cha_point, cha_mth) values(#{param1}, #{param2}, #{param3})
	</insert>
	
	<insert id="sp_pointInsert">
		insert into sp_p(userid, sp_point, sp_item) values(#{param1}, #{param2}, #{param3})
	</insert>
	
	
	<select id="recentlyOrderNum" resultType="int">
	select o_num from (select * from ordertbl where userid=#{param1} and <![CDATA[ o_date<=sysdate ]]> order by o_date desc) where <![CDATA[ rownum<=1 ]]>
	</select>
	
	<select id="orderCompl" resultType="com.team4.localer.vo.ShipVO">
		select s.o_num, s.getter, to_char(s.b_date,'YYYY-MM-DD HH24:MI') b_date, s.ship_tel, s.ship_zip, s.ship_addr, s.ship_detail, s.ship_msg,
		o.o_price, o.o_ship, o.opt_str, i.i_subject from ship s join ordertbl o on s.o_num=o.o_num
		join sell_item i on o.num=i.i_num where o.o_num=#{param1}
	</select>
	
	<select id="getFiles" resultType="com.team4.localer.vo.SellitemVO">
		select i_img1, i_img2, i_img3 from sell_item where i_num=#{param1}
	</select>
	

	
	<update id="sellViewUpdate" parameterType="com.team4.localer.vo.SellitemVO">
		update sell_item set i_status=#{i_status}, i_subject=#{i_subject}, i_cnt=#{i_cnt}, i_content=#{i_content}
		, i_period=to_date(#{i_period},'YYYY-MM-DD'), i_price=#{i_price}, i_tag=#{i_tag}, i_ship=#{i_ship}, i_img1=#{i_img1}
		,i_img2=#{i_img2, jdbcType=VARCHAR}, i_img3=#{i_img3, jdbcType=VARCHAR}
		where sel_num=(select sel_num from seller where userid=#{userid})  and i_num=#{i_num}
	</update>
	
	<delete id="optionDelete" parameterType="int">
		delete from item_option where i_num=#{param1} 
	</delete>

	<delete id="deleteSellView">
		delete from sell_item where i_num=#{param1}
	</delete>
	

</mapper>